# Android/Gradle
.gradle/
**/build/
local.properties
.gradle/
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml

# Keystore & secrets
*.jks
*.keystore
*.keystore.*
keystore.properties

# Misc
.DS_Store
*.log
